<!-- takes  the JSON object that is requested from the api -->
<!-- player is the current iteration of the api data object -->
<!-- For each player with the api data,
we will use the HTML template below to create each leaderboard entry in the DOM -->


{{#each players as |player|}}
  <section data-id={{player._id}} class="player">
    <h3 class="player-name">{{player.nickname}}</h3>
    <p class="player-scoreDate">{{limit player.createdAt 10}}</p>
    <h5 class="player-score">{{player.totalScore}}</h5>
   
  </section>

{{/each}}