@import '~bootstrap/scss/bootstrap';
@import '~toastr/build/toastr.css';

#game-container {
    display: none;
}

#leaderboard-container{
    text-align: center;
    #leaderboard {
        display: flex;
        flex-direction: column;
        section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
