@import '~bootstrap/scss/bootstrap';
@import '~toastr/build/toastr.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body  {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    input, button{
        margin: 5px;
        text-align: center;
        border-color: lightblue;
        padding: 5px;
        border-radius: 6px;
    }

}
#userForms {
    display: flex;
    justify-content: center;
    #show-auth-modal {
        display: none;
    }
}


#game-container {
    text-align: center;
    display: none;
    #wrapper {
        display: flex;
        .left {
            flex: 0 0 65%;
        }
        .right {
        flex: 1;
        }
    }
    
}

#leaderboard-container{
    margin: 2rem;
    text-align: center;
    #leaderboard {

        section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    .logo {
        max-width: 100%;
        max-height: auto;
    }
    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        li{
            flex: 1;
            &:hover{
                color:lightcoral;
                font-size: 1.2rem;
            }
        }
        .home {
            flex: 0 1 10%;
        }
        #show-auth-modal {
            display: none;
        }

        
    }
}

@media all and (max-width:600px) {
    body{
        background-color: beige;
    }
    header {
        flex-direction: column;
        ul {
            flex-wrap: wrap;
            li {
                flex-basis: 50%;
            }
            .home{
                flex: 0 1 50%;
            }

        }
        
    }

}
