@import '~bootstrap/scss/bootstrap';
@import '~toastr/build/toastr.css';


body {
    padding: 0px;
    button {
        border-radius: 7px;
    }
}
#userForms {
    #show-auth-modal {
        display: none;
    }
}


#game-container {
    text-align: center;
    display: none;
    #wrapper {
        display: flex;
        .left {
            flex: 0 0 65%;
        }
        .right {
        flex: 1;
        }
    }
    
}

#leaderboard-container{
    text-align: center;
    #leaderboard {

        section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

